<div class="row">
  <div class="col-sm-10" style="background-color:lavender;"><h1>Orders</h1></div>
  <div class="col-sm-2" style="background-color:lavender;"><button mat-button (click)="detail(row)">fdfdfdf</button></div>
</div>
  <div style='float:left;width:100%'>
    <ngx-datatable
      style="width: 100%"
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [selected]="selected"
      [selectionType]="'single'"
      [selectAllRowsOnPage]="false"
      (activate)="onActivate($event)">
      <ngx-datatable-column name="Orderid"></ngx-datatable-column>
      <ngx-datatable-column name="Customer Name"></ngx-datatable-column>
      <ngx-datatable-column name="Products"></ngx-datatable-column>
      <ngx-datatable-column name="Quantity"></ngx-datatable-column>
      <ngx-datatable-column name="Amount"></ngx-datatable-column>
      <ngx-datatable-column name="Rating"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Company"></ngx-datatable-column>
      <ngx-datatable-column name="id">
        <ng-template let-column="column" ngx-datatable-header-template>
            Actions
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button mat-button (click)="detail(row)">Invoice</button>
        </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
</div>